@media (max-width:1200px){
  .modalContainer{
    left: 50% !important;
    width: 95% !important;
  }
  .closeBtn{
    display: block !important; 
  }
}
@media (max-width:840px){
  .cart{
    display: none !important;
  }
  .separator{
    margin-top: 10px;
    width: 450px;
    border-radius: 5px;
    height: 3px;
    background-color: #AB273F;
  }
  .welcome{
    display: block !important;
  }
  .modalContainer{
    justify-content: flex-start !important;
    overflow-y: scroll;
    max-height: 90vh;
  }
  .modalTitleContainer {
    flex-direction: column;
    & .modalImg {
      width: 300px;
      height: 300px;
      margin-bottom: 30px;
    }
  }
  .modalDescriptionContainer {
    width: 80% !important;
  }
  .cartModal{
    width: 90% !important;
    height: 100vh !important;
  }
  .stack{
    max-height: 500px !important;
  }
  .openMenu{
    display:flex !important;
  }
}
.modalTitleContainer{
  margin: 20px;
}
.closeBtn{
  position: absolute;
  background-color: #FFEDD1;
  border-radius: 10px;  
  left: 50%;
  transform: translate(-50%,50%);
  display: none;
  margin-bottom: 20px;
  font-family: "Montserrat",sans-serif;
  padding: 10px 50px;
}
.openMenu{
  display: none;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #AB273F;
  width: 55px;
  height: 55px;
}
.cartModalContainer{
  width: 100%;
  height: 100%;
}
.cart__menu{
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: #FFE4BC;
}
.cartModalClose{
  font-family: "Montserrat",sans-serif;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 50px;
  cursor: pointer;
  border-radius: 15px;
  background-color: #fff;
}