$small: 300px;
$medium: 640px;
$large: 1024px;

/////////////////////TABLETS///////////////////////

.dish {
  @media screen and (min-width: $small) and (max-width: $medium) {
    grid-template-columns: 1fr;
    display: grid;
  }

  @media screen and (min-width: $medium) and (max-width: $large) {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }

  &__meal {
    @media screen and (min-width: $medium) and (max-width: $large) {
      margin-top: 25px;
      height: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25vw;
    }

    &--img {
      @media screen and (min-width: $medium) and (max-width: $large) {
        width: 160px;
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        background-position: center;
      }
    }

    &--description {
      @media screen and (min-width: $medium) and (max-width: $large) {
        margin-top: -25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-weight: 500;
        font-size: 1em !important;
        line-height: 20px;
        color: #3F2B0C;
        width: 20vw;
        height: 150px;
        background: #FFEDD1;
        box-shadow: 0 11px 15px rgba(235, 169, 70, 0.64);
        border-radius: 34px;
      }
    }

    &--title {
      @media screen and (min-width: $medium) and (max-width: $large) {
        font-family: 'Montserrat', sans-serif !important;
        text-align: center;
        width: 16.276041666666668vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-style: normal;
        font-weight: 500;
        font-size: 1.25em !important;
        line-height: 24px;
        margin-bottom: 6px;
      }
    }
  }
}

.dish__meal--products li {
  @media screen and (min-width: $medium) and (max-width: $large) {
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.modalContainer {
  @media screen and (min-width: $medium) and (max-width: $large) {
    padding-top: 8px !important;
    left: 55%!important;
    width: 90%!important;

  }
}

.ingredientsChip {
  @media screen and (min-width: $medium) and (max-width: $large) {

  }
}

.modalImg {
  @media screen and (min-width: $medium) and (max-width: $large) {

  }
}

.modalTitleContainer {
  @media screen and (min-width: $medium) and (max-width: $large) {

  }
}

.modalTitle {
  @media screen and (min-width: $medium) and (max-width: $large) {
    text-align: center;
  }
}

.modalDescriptionContainer {
  @media screen and (min-width: $medium) and (max-width: $large) {

  }
}
