@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&family=Montserrat:ital,wght@0,500;1,300;1,500&display=swap');

$small: 300px;
$medium: 640px;

.cart{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 100vh;
    padding: 30px;
    background: #FFE4BC;
    &__input{
        font-family: "Roboto",sans-serif;
    }
}

.cart__welcome{
    text-align: center;
    font-family: 'Neonderthaw', sans-serif !important;
}

.cart__myProducts {
    font-family: 'Montserrat Alternates', sans-serif !important;
}

.cart__sortBy {
    font-family: 'Montserrat', sans-serif !important;
}

.cart__switch {
    margin-left: 80px;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
    color: #AB273F !important;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
    background: #FFF1DC!important;
    box-shadow: 0 11px 15px rgba(235, 169, 70, 0.64);
    border-radius: 30%;
}

.css-1dbv9iw-MuiStack-root {
    margin: 26px;
}

.cart__switch::-webkit-slider-runnable-track {
    width: 51px;
    height: 24px;
    left: 345px;
    top: 225px;
    background: #FFF1DC;
    box-shadow: 0 11px 15px rgba(235, 169, 70, 0.64);
    border-radius: 33.5px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.cart__button {
    font-family: 'Montserrat', sans-serif !important;
}

ul.MuiAutocomplete-listbox{
    font-family: "Roboto",sans-serif;
    z-index: 10000;
    background-color: rgb(236, 236, 236);
}
.MuiAutocomplete-clearIndicator{
    display: none !important;
}
.MuiChip-outlined{
    margin: 3px !important;
}