.dish{
    background: linear-gradient(120.12deg, rgba(255, 247, 236, 0.75) -0.11%, rgba(255, 247, 236, 0) 99.44%);
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    &__meal{
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        &--img{
            width: 200px;
            height: 200px;
            background-size: contain;
            border-radius: 50%;
            background-position: center;
        }
        &--description {
            margin-top: -50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Montserrat', sans-serif;
            font-style: italic;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #3F2B0C;
            width: 300px;
            height: 200px;
            background: #FFEDD1;
            box-shadow: 0 11px 15px rgba(235, 169, 70, 0.64);
            border-radius: 33.5px;
        }
        &--title {
            cursor: pointer;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 6px;
        }
    }
}
