@import "reset.css";
@import "cart";
@import "dish";

#root{
    display: flex;
}

* {
    &::-webkit-scrollbar {
        width: 10px;
    }
;

    &::-webkit-scrollbar-track {
        border: 3px solid white;
        background: #EBA944;
        border-radius: 5px;
    }
;

    ::-webkit-scrollbar-thumb {
        width: 10px;
        background: #AB273F;
        border-radius: 5px;
    }
;

    ::-webkit-scrollbar-thumb:hover {
        background: #8d2136;
    }
;
}