@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&family=Montserrat:ital,wght@0,500;1,300;1,500&display=swap');

@import "reset.css";
@import "adaptive";
@import "cart";
@import "dish";


#root{
    background-color:#fff8ef;
    display: flex;
    position: relative;
    outline: none !important;
}

* {
    &::-webkit-scrollbar {
        width: 10px;
    }
;

    &::-webkit-scrollbar-track {
        border: 3px solid white;
        background: #EBA944;
        border-radius: 5px;
    }
;

    ::-webkit-scrollbar-thumb {
        width: 10px;
        background: #AB273F;
        border-radius: 5px;
    }
;

    ::-webkit-scrollbar-thumb:hover {
        background: #8d2136;
    }
;
}